[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
User={{ app_user }}
Group={{ app_group }}
ExecStart=/usr/local/bin/redis-server /etc/redis/redis-6382.conf
ExecStop=/usr/local/bin/redis-cli shutdown
Restart=always

[Install]
WantedBy=multi-user.target
